@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar Styling */
/* .sidebar {
  width: 250px;
  
  
  transition: transform 0.3s ease-in-out;
  z-index: 1000; /* Ensure the sidebar is above other content */
/* } */

/* Initially hidden1 sidebar */
/* .sidebar.hidden1 {
  
  transform: translateX(-100%);
} */

/* Media Query to ensure responsive behavior */
/* @media (max-width: 768px) {
  .sidebar.open1 {
    transform: translateX(0);
  }
}

/* Main content styling */
/* .main-content {
  margin-left: 0; /* Ensure the content takes full width */
  /* transition: margin-left 0.3s ease-in-out; */ 
/* } */

/* Shift the content when the sidebar is open1 */
/* .sidebar.open1 + .main-content {
  margin-left: 250px; Content shifts slightly, but not fully squeezed
} */ 
